@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Navbar section starts here */
    .width {
        padding-left: 24px;
        padding-right: 24px;
    }

    .hamburger::before {
        content: '';
        position:absolute;
        width: 36px;
        height: 1px;
        top: 19px;
        left: 8px;
        background: theme('colors.black_200');
        transition:0.5s;
    }

    .hamburger::after {
        content: '';
        position:absolute;
        width: 36px;
        height: 1px;
        bottom: 19px;
        left: 8px;
        background: theme('colors.black_200');
        transition:0.5s;
    }

    .icon.active hamburger::before {
        transform: rotate(45deg);
        transition: all 1.5s ease-in;
    }

    .icon.active hamburger::after {
        transform: rotate(135deg);
        transition: all 1.5s ease-in;
    }

    .desktop-list-item {
        padding: 1rem .5rem;
        color: theme('colors.black_200');
        font-family: theme('fontFamily.headings');
        font-size: 16px;
        font-weight: 400;
        transition: all .5s ease-in;
    }

    .desktop-list-item:hover, .desktop-list-item.active {
        color: theme('colors.green_50');
        transition: all 1.5s ease-in;
        transition-duration: 500ms;
    }

    .mobile-list-item {
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        top: 0;
        line-height: 45px;
        transition: all .5s;
    }

    .mobile-list-item.active {
        width: 100%;
        height: 90vh;
        top: 87px;
        opacity: 1;
    }

    .mobile-list-item a {
        color: theme('colors.white');
        font-family: theme('fontFamily.headings');
        text-transform: uppercase;
        display: block;
        font-size: 13px;
        padding: 5px 0px;
        transition: all .5s ease-in;
    }

    .mobile-list-item a:hover, .mobile-list-item a.active {
        color: theme('colors.green_50');
        transition: all 1.5s ease-in;
        transition-duration: 300ms;
    }
    /* Navbar section ends here */

    /* Hero section starts here */
    .highlight {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: .5rem;
        margin-bottom: 24px;
        font-family: theme('fontFamily.highlight');
        text-transform: uppercase;
    }

    .headline, .headline-text {
        font-family: theme('fontFamily.headings'), Serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 52px;
        margin-bottom: 70px;
        position: relative;
    }

    .head-title {
        font-family: theme('fontFamily.headings'), Serif;
        font-weight: 600;
        font-size: 55px;
        line-height: 52px;
        margin-bottom: 70px;
        position: relative;
    }

    .headline-title {
        font-family: theme('fontFamily.headings'), Serif;
        margin-bottom: 24px;
        position: relative;
    }

    .headline::after, .head-title::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        bottom: 12px;
        right: -12px;
        background-color: theme('colors.green_100');
    }
    /*  Hero sections ends here */

    /* section 1 starts here */
    /* section 1 ends here */

    @media (min-width: 768px) {
        .width {
            padding-left: 44px;
            padding-right: 44px;
        }

        .menu.active {
            transform: translateY(105px);
        }
    }

    @media (min-width: 1024px) {
        .width {
            padding-left: 64px;
            padding-right: 64px;
        }
    }
}
